body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  height: 150px;
}

nav .navigation {
  padding: 0 50px;
  display: flex;
  justify-content: flex-end;
}

nav.navbar .navigation .navbar-brand {
  width: 41px;
  margin-left: 70px;
}

nav.navbar .navigation ul li a {
  color: #393939;
  margin: 17.5px;
  font-family: 'Nunito', sans-serif;
}

nav.navbar .navigation ul li .btn-nav {
  border-radius: 8px;
  width: 132px;
}

nav.navbar .navigation ul li .btn-login {
  border: 1px solid #0085DF;
}

nav.navbar .navigation ul li .btn-login:hover {
  background-color: #0085DF;
}

.btn-warning {
  background-color: #0085DF !important;
  border: 1px solid #32DBC6;
}

.btn-warning:hover {
  background-color: #ffffff !important;
  border: 1px solid #0085DF;
}